body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  html{
    padding-left: 0;
  }
}

/* Materialize*/
.carousel.carousel-slider {
  height: 100vh !important;
}
.carousel.carousel-slider .carousel-item{
  padding: 20px;
}
.input-field{
  margin-top: 1.8rem !important;
}
.switch {
  padding-top: 1vw;
  padding-left: 5vw;
}
input[type='date'] {
  width: 150px !important;
}


